
@{
    ViewBag.Title = "CheckCustomerExistance";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<html>
<head>
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>ViewBag.Title</title>

    
</head>

<body>
    <div class="container">
        <div class="row">
            <form method="post">
                <table class="tabbable" border="0" align="center" style="margin-top:50px">
                    @if (IsPost)
                    {
                        if (ViewBag.res)
                        {
                            <tr class="active">
                                <td align="center" colspan="2" style="color:red;align-content:center;;font-weight:bolder;">Customer Exists</td>
                            </tr>
                            <tr class="active"><td>&nbsp;</td><td>&nbsp;</td></tr>
                        }
                        else if(!ViewBag.res)
                        {
                             <tr class="active">
                                <td align="center" colspan="2" style="color:green;align-content:center;font-weight:bolder;">Customer doesn't Exists</td>
                            </tr>
                            <tr class="active"><td>&nbsp;</td><td>&nbsp;</td></tr>
                        }
                        else
                        {
                             <tr class="active">
                                <td align="center" colspan="2" style="color:red;align-content:center;font-size:medium;font-weight:bolder;">@ViewBag.resmsg</td>
                            </tr>
                            <tr class="active"><td>&nbsp;</td><td>&nbsp;</td></tr>
                        }
                    }
                    <tr class="active">
                        <td colspan="2" align="center" style="color:cornflowerblue;font-size:medium;font-weight:bolder;align-content:center;">@ViewBag.Title</td>
                    </tr>
                    <tr class="active"><td colspan="2">&nbsp;</td></tr>
                    <tr class="active">
                        <th class="TableData" align="left">PAN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <td><input type="text" required pattern="[A-Za-z]{4}[0-9]{4}" title="should be four letter followed by four number" name="pPAN" /></td>
                    </tr>
                    <tr class="active"><td colspan="2">&nbsp;</td></tr>
                    <tr class="active">
                        <td colspan="2" align="center"><input type="submit" value="Check" style="background-color:cornflowerblue" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</body>






</html>


