@{
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>SavingServices</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <nav>
                    <div class="col-sm-3"><a href="#test"></a></div>
                    <div class="col-sm-3"><a href="#test"></a></div>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>
